header {
    background-color: rgba(0, 0, 0, 0.247);
    height: 50px;
}

.nav-link {
    font-weight: 600;
    line-height: 21px;
    font-size: 18px;
}

#brand {
    color: var(--light);
    font-family: pacifico;
    font-size: 24px;
}

#search-icon {
    color: white;
    height: 38px;
}