label {
    font-weight: 600;
    line-height: 21px;
    font-size: 18px;
    color: var(--light);
    display: block;
}

#search-bar {
    border-radius: 30px 0px 0px 30px;
    border: none;
    width: 200px;
    padding-top: 10px;
    padding-left: 5px;
    display: inline;
}
  
#search-button {
    border-radius: 0px 30px 30px 0px;
    background-color: rgba(0, 0, 0, 0.247);
    border: none;
    width: 40px;
    display:inline;
}

#search-bar-icon{
    color:var(--light);
    padding-top: 3px;
}