header {
    background-color: rgba(0, 0, 0, 0.247);
    height: 50px;
}

.nav-link {
    font-weight: 600;
    line-height: 21px;
    font-size: 18px;
    color: var(--light);
}

.navbar-brand {
    color: var(--light);
    font-family: pacifico;
    font-size: 24px;
    margin: auto;
    padding-right: 50px;
}

#search-icon {
    color: white;
    height: 38px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}